arabic_reshaper==3.0.0
keras==2.11.0
mediapipe==0.9.1.0
numpy==1.24.2
opencv_contrib_python==4.7.0.68
opencv_python==4.7.0.68
Pillow==9.4.0
Pillow==10.0.0
PySimpleGUI==4.60.4
PySimpleGUI==4.60.5
tensorflow==2.11.0
